/* selettori tag */

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #222222;
}

hr {
  margin: 50px auto 85px auto;
  border: 6px dotted #cfb997;
  width: 10%;
  border-bottom: none;
}

/* HEADER / HERO */

.hero {
  width: 100%;
  position: relative;
  text-align: right;
  color: #222222;
}

.hero_img {
  width: 100%;
  height: 850px;
  object-fit: cover;
  filter: opacity(80%) blur(2px);
}

.hero_h1 {
  position: absolute;
  bottom: 450px;
  left: calc(65% - 225px);
  width: 600px;
  font-size: 4rem;
}

.hero_p {
  position: absolute;
  bottom: 380px;
  left: calc(68% - 225px);
  width: 550px;
  line-height: 1.3;
  font-size: 1.5rem;
}

.hero_btn {
  position: absolute;
  bottom: 310px;
  left: calc(92% - 225px);
  width: 200px;
  padding: 20px;
  font-size: 16px;
  background-color: aliceblue;
}

/* MAIN */

.container_main {
  text-align: center;
}

.vari_punti {
  font-size: 2.3rem;
  margin: 100px auto;
}

.img_punti {
  width: 20%;
  border-radius: 50%;
}

.h3_punto {
  font-size: 1.5rem;
  font-weight: 200;
}

.p_punto {
  font-size: 1rem;
  width: 30%;
  line-height: 1.5;
  margin: auto;
}

/* FOOTER */

.footer {
  margin-top: 80px;
  height: 100px;
  width: 100%;
  background-color: #cfb997;
}

.copyright,
.tel_footer {
  padding-top: 20px;
  margin: auto;
  text-align: center;
  color: aliceblue;
}
