.CardList {
  /* border: 2px solid red; */
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.CardList h2 {
  color: #1b3849;
  font-size: 2rem;
  font-weight: 300;
}

.card_list {
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
