.Philosophy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /* border: 2px solid orange; */
}

.Philosophy h2 {
  /* border: 2px solid red; */
  width: 55%;
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

.Philosophy h5 {
  /* border: 2px solid red; */
  font-style: italic;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: light;
  margin-top: 8px;
}
