body {
  position: relative;
  font-family: "Raleway", sans-serif;
  background-color: #bfeaf5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #eafdfc;
  border: 2px solid #eafdfc;

  border-radius: 4%;
}

.container_grande {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_grafico {
  padding: 40px;
  width: 600px;
  height: 500px;
  background-color: #eafdfc;
}

.tower_container {
  position: relative;
  height: 300px;
  width: 50px;
  border: 1px solid aqua;
  transform: rotate(180deg);
}

.title_container {
  position: absolute;
  bottom: -20px;
  transform: rotate(-180deg);
}

.status_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
}
