body {
  font-family: "Raleway", sans-serif;
  background-color: #bfeaf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #eafdfc;
  border: 2px solid #eafdfc;
  border-radius: 15px;
  box-shadow: 1px 2px 6px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
}

.card {
  line-height: 1.4;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_quote {
}

.card_author {
}
