.Hero {
  /* border: 2px solid green; */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero_title {
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px #000000;
  font-size: 2.7rem;
  /* background-color: #1b3849; */
}

.hero_subtitle {
  position: absolute;
  color: aliceblue;
  bottom: 120px;
  text-shadow: 2px 2px #000000;
}
