<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Private</title>
    <link rel="stylesheet" href="css/style2.css" />
  </head>
  <body>
    <h2>Benvenuto nell'Area Riservata</h2>
    <a class="logout_button" href="/logout">Fai logout</a>
  </body>
</html>