<header>
  <nav>
    <li><a href="">Home</a></li>
    <li><a href="/mi-presento">Mi presento</a></li>
    <li><a href="/about">Il progetto</a></li>
    <li><a href="">Login</a></li>

  </nav>
  <img
    src="/img/alina-bordunova-HzrgJrVYUuk-unsplash (1).jpg"
    alt="woman weaving"
  />

</header>